<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Producto</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 50px auto;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 12px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Detalles del Producto</h1>
    <table>
        <tr>
            <th>ID</th>
            <td>{{ productos.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ productos.nombre }}</td>
        </tr>
        <tr>
            <th>Precio</th>
            <td>{{ productos.precio_publico }}</td>
        </tr>
        <tr>
            <th>Stock</th>
            <td>{{ productos.vaso }}</td>
        </tr>
    </table>
    <p><a href="/">Volver a la página principal</a></p>
</body>
</html>