<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredientes</title>
</head>
<body>
    <h1>VENDER</h1>
    <br>
    <table>
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><h3>Producto:</h3></td>
            <td><p>{{venta.producto.nombre}}</p></td>
        </tr>
        <tr>
            <td><h3>Resultado:</h3></td>
            <td><p>{{venta.resultado}}</p></td>
        </tr>
        <tr>
            <td><h3>Valor venta:</h3></td>
            <td><p>${{venta.valor}}</p></td>
        </tr>
        </tbody>
    </table>
<br>
</body>
</html>